.rbc-agenda-table {
	table-layout: fixed;
	width: 100%;
}

.rbc-calendar .rbc-toolbar .rbc-btn-group:last-of-type,
.rbc-calendar .rbc-agenda-view > .rbc-agenda-table,
.rbc-calendar .rbc-agenda-view > .rbc-agenda-table .rbc-header:nth-of-type(2),
.rbc-calendar .rbc-agenda-view .rbc-agenda-content .rbc-agenda-time-cell {
/*.rbc-calendar .rbc-toolbar .rbc-toolbar-label {*/
  display: none !important;
}


.rbc-calendar .rbc-agenda-view .rbc-agenda-content .rbc-agenda-date-cell {
  color: #333;
  text-align: center !important;
  font-size: 10pt;
  border-right: 1px solid #CCC;
  padding: 8px 15px;
  text-align: center;
  vertical-align: top;
  width: 60px;
  white-space: break-spaces;
}

.rbc-calendar .rbc-agenda-view .rbc-agenda-content .rbc-agenda-table {
  border: 0 !important;
}


.dcc-date-number{
	font-weight: bold;
	font-size: 30px;
	letter-spacing: -4px;
	line-height: 22px;
	display: block;
	font-family: arial, sans-serif;
	margin-left: -5px;
}
.dcc-date-name{
	font-weight:regular;
	font-size:20px;
}

.dcc-event-homepage {
	text-align: left;
	padding:8px 8px;
	border-radius: 5px;
	position: relative;
	color:#111;
}

.dcc-event-title {
	font-weight: bold;
	display: block;
	line-height: 12px;
}

.dcc-event-desc {
	font-size: 12px;
}

.dcc-event-statusTask {
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top:-16px;
	font-size:20px;
}

.dcc-event-clickable {
	cursor: pointer;
}

